<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" />
        <!-- <div *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
          <div *ngIf="loginForm.get('username')?.errors?.required">Username is required.</div>
        </div> -->
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" />
        <!-- <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
          <div *ngIf="loginForm.get('password')?.errors?.required">Password is required.</div>
          <div *ngIf="loginForm.get('password')?.errors?.minlength">Password must be at least 6 characters long.</div>
        </div> -->
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
      </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
  </div>
  