/* Structure */
table {
    width: 100%;
    background-color: #dccfcf;
    border-radius: 10px;
    padding: 10px;
}

.my-card {
    background-color: #e8dcdc;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.mat-form-field {
    font-size: 14px;
    width: 50%;
}

.red-status {
    color: red;
}

.green-status {
    color: green;
}

.table-container {
    padding: 20px;
    background-color: #dccfcf;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}